<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>课程添加</title>
	</head>
	<body>
		<form action="">			
			<div>
				学年<input type="text" value="" name="job_num" />
			</div>
			<div>
				学期：<input type="text" value="" name="job_num" />
			</div>
			<div>
				选课课号：<input type="text" value="" name="password" />
			</div>
			<div>
				课程学分：<input type="text" value="" name="college" />
			</div>
			<div>
				教师名称：<input type="text" value="" name="sex" />
			</div>
			<div>
				教师单位：<input type="text" value="" name="sex" />
			</div>
			<div>
				上课时间：<input type="text" value="" name="sex" />
			</div>
			<div>
				上课地点：<input type="text" value="" name="sex" />
			</div>
			<div>
				<input type="submit" value="确认" />
			</div>
		</form>
	</body>
</html>
