<!DOCTYPE HTML>
<html>
	<head>
		<title>学生成绩管理系统</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="https://cdn.bootcss.com/jquery/1.2.3/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		
	</head>
	<body class="no-sidebar">

		<!-- Header -->
		<div id="header">
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">成绩管理系统</a></h1>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li ><a href="teacher.html">老师信息管理</a></li>
						<li><a href="student.html">学生信息管理</a></li>
						<li class="active"><a href="course.html">课程管理</a></li>
						<li ><a href="grade.html">成绩管理</a></li>
						
					</ul>
				</nav>
			</div>
		</div>

		<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row" > 
					
					<!-- Content -->
					<div id="content" class="12u skel-cell-important" align="center">
						<section>
							<header>
								<h2>课程管理</h2>								
							</header>
							<table>
								<tr>
									<th>课程名称<input type="text" name="job_num" id="job_num" value="" /></th>
									<th>教师名称 <input type="text" id="name" value="" /></th>
									<th>教师单位<input type="text" id="college" value="" /></th>
									<th><input type="submit" id="" name="" value="筛选" /></th>
								</tr>								
							</table>
							<table width="700" style="border:groove">
								<thead style="font-weight:bolder">
									<tr >
									    <th>学年</th>
									    <th width="50">学期</th>
									    <th>选课课号</th>
									    <th>课程名称</th>									 
									    <th>课程学分</th>
									    <th>教师名称</th>
									    <th>教师单位</th>
									    <th>上课时间</th>
									    <th>上课地点</th>
									    <th width="100">操作</th>
									 </tr>
								</thead>
								<tbody>
									<tr>
									    <th>2014-2015</th>
									    <th>2</th>
									    <th>(2014-2015-2)-A0930005-200100015-1B</th>
									    <th>Web系统与技术</th>
									    <th>4</th>
									    <th>谢丛华</th>
									    <th>计算机科学与工程学院</th>
									    <th>周三第3,4节</th>
									    <th>九章楼N5-102</th>
									    <th>
									    	<input type="button" value="编辑" onclick="openEditor()"/>
									    	<input type="button" value="删除" onclick=""/>
									    </th>
								 </tr>								 	
								</tbody>
							</table>
							<a href="#"><input type="button" value="添加" onclick="openAdd()"/></a>
							<script>
								function openEditor(){
									window.open ("CEditor.html", "newwindow", "height=300, width=600, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no") 
								}
								function openAdd(){
									window.open ("CAdd.html", "newwindow", "height=300, width=600, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no") 
								}
								function deleteT(){
									
								}
							</script>
						</section>
					</div>					
				</div>
			</div>
		</div>
</body>
</html>