<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>成绩修改</title>
	</head>
	<body>
		<form action="">			
			<div>
				学号<input type="text" value="" name="job_num" />
			</div>

			<div>
				平时成绩：<input type="text" value="" name="password" />
			</div>
			<div>
				期中成绩：<input type="text" value="" name="college" />
			</div>
			<div>
				期末成绩：<input type="text" value="" name="sex" />
			</div>
			<div>
				实验成绩：<input type="text" value="" name="sex" />
			</div>
			<div>
				<input type="submit" value="确认" />
			</div>
		</form>
	</body>
</html>
