<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>学生添加</title>
	</head>
	<body>
		<form action="">			
			<div>
				学号<input type="text" value="" name="job_num" />
			</div>
			<div>
				姓名：<input type="text" value="" name="job_num" />
			</div>
			<div>
				学院：<input type="text" value="" name="password" />
			</div>
			<div>
				性别：<input type="text" value="" name="college" />
			</div>
			<div>
				班级号：<input type="text" value="" name="sex" />
			</div>
			<div>
				<input type="submit" value="确认" />
			</div>
		</form>
	</body>
</html>
